<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
        integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-100/40">
    <div id="app">
        <nav class="border-b-1 border-gray-400 fixed w-full backdrop-blur z-999">
            <div class="px-10 py-3 flex justify-between items-center">
                <div class="flex gap-5">
                    <h1 class="text-black text-xl font-semibold">Calculator.Free</h1>
                    <div id="nav" class="flex gap-3 sm:hidden sm:hidden lg:flex">
                        <p class="text-gray-600 text-md">All Calculators</p>
                        <p class="text-gray-600 text-md">API</p>
                        <p class="text-gray-600 text-md">Pricing</p>
                    </div>
                </div>

                <div id="nav" class="flex items-center gap-5 sm:hidden sm:hidden lg:flex">
                    <p class="text-gray-600 text-lg">English</p>
                    <p class="text-gray-600 text-lg">Login</p>
                    <button class="px-5 py-2 text-white text-lg bg-blue-500 rounded-lg">Sign up</button>
                </div>
                <div class="lg:hidden xs:block sm:block px-5 py-4 rounded-lg border-gray-400 text-black">
                    <i class="fa-solid fa-bars text-2xl"></i>
                </div>
            </div>
        </nav>
        <div class="h-10"></div>


        <div class="flex justify-center items-center h-screen">
            <div class="h-[520.312px] bg-white w-[460px] shadow-[0_0_2px_black] rounded-xl p-4 space-y-2">
                <div class="relative">
                    <input v-model="text" type="text" placeholder="Type an expression..."
                        class="text-gray-500 text-xl font-mono absolute m-2">
                    <input v-model="p"
                        class="w-[426.4px] h-[110.4px] rounded-xl bg-[#0f2a5e] font-bold text-white text-4xl text-end flex item-bottom p-5"
                        placeholder="">
                </div>

                <div class="px-1 py-1 bg-gray-200 w-35 rounded-md flex justify-between">
                    <button class=" px-2 bg-white rounded-sm text-blue-600 font-bold text-sm">Basic</button>
                    <button class="font-bold text-gray-500 text-sm px-2">Scientific</button>
                </div>

                <div class="grid grid-cols-4 grid-rows-10 gap-3">
                    <button @click="clearD()"
                        class="text-red-600 font-bold border border-gray-400 rounded-lg py-4 cursor-pointer hover:bg-gray-50 hover:border-blue-400">C</button>
                    <button
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-4 cursor-pointer hover:bg-gray-50 hover:border-blue-400">±</button>
                    <button @click="percent()"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">%</button>
                    <button @click="operatorD('/')"
                        class="text-gray-700 font-bold border border-gray-400 bg-gray-200 rounded-lg py-2 cursor-pointer hover:saturate-500">/</button>
                    <button @click="num('7')"
                        class="text-gray-700 0 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">7</button>
                    <button @click="num('8')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">8</button>
                    <button @click="num('9')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">9</button>
                    <button @click="operatorD('*')"
                        class="text-gray-700 font-bold border border-gray-400 bg-gray-200 rounded-lg py-2 cursor-pointer hover:saturate-500">*</button>
                    <button @click="num('4')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">4</button>
                    <button @click="num('5')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">5</button>
                    <button @click="num('6')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">6</button>
                    <button @click="operatorD('-')"
                        class="text-gray-700 font-bold border border-gray-400 bg-gray-200 rounded-lg py-2 cursor-pointer hover:saturate-500">-</button>
                    <button @click="num('1')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">1</button>
                    <button @click="num('2')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">2</button>
                    <button @click="num('3')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">3</button>
                    <button @click="operatorD('+')"
                        class="text-gray-700 font-bold border border-gray-400 bg-gray-200 rounded-lg py-2 cursor-pointer hover:saturate-500">+</button>
                    <button @click="num('0')"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">0</button>
                    <button @click="num()"
                        class="text-gray-700 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">.</button>
                    <button @click="num()"
                        class="text-red-600 font-bold border border-gray-400 rounded-lg py-2 cursor-pointer hover:bg-gray-50 hover:border-blue-400">⌫</button>
                    <button @click="cal()"
                        class="text-white bg-blue-500 font-bold shadow-[0_0_1px_blue] rounded-lg py-2 cursor-pointer hover:saturate-500">=</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        Vue.createApp({
            data() {
                return {
                    p: '',
                    type: '',
                    currentInput: '',
                    currentOperator: '',
                    firstNum: 0,
                    success: '',

                }
            },
            methods: {
                num(numbers) {
                    this.currentInput += numbers;
                    this.p = this.currentInput
                },

                clearD() {
                    this.currentInput = '';
                    this.p = '';
                    this.firstNum = 0;
                    this.currentOperator = 0;
                   
                },

                operatorD(op) {

                    if (this.currentOperator === "" && this.currentInput !== "") {
                        this.firstNum = parseFloat(this.currentInput);

                    }
                    else {
                        this.stepstocal();

                    }

                    this.currentOperator = op;
                    this.currentInput = '';
                    this.p = this.firstNum;
                },

                stepstocal() {
                    let numb = parseFloat(this.currentInput);
                    if (isNaN(numb)) {
                        return true;
                    }
                    if (this.currentOperator === '/' && numb === 0) {
                        this.p = 'Error';

                        return false;
                    }
                    if (numb) {
                        switch (this.currentOperator) {
                            case '+':
                                this.p = this.firstNum + numb;
                                break;

                            case '-':
                                this.p = this.firstNum - numb;
                                break;

                            case '*':
                                this.p = this.firstNum * numb;
                                break;

                            case '/':
                                if (this.p == 0) { this.p = 'Error'; return; }
                                this.p = this.firstNum / numb;
                                break;

                            default:
                                this.firstNum = numb;
                                return true;
                        }
                    }
                },

                cal() {
                    let success = this.stepstocal();
                    if (!this.success) {
                        return;
                    }
                    this.currentOperator = '';
                }
            }
        }).mount('#app');

        // let p = document.getElementById('p');
        // let type = document.getElementById('type');
        // let currentInput = '';
        // let currentOperator = '';
        // let firstNum = 0;

        // function num(numbers) {
        //     currentInput += numbers;
        //     p.value = currentInput;
        //     type.value = currentInput;
        //     typeNum = '';
        //     typeNum.value += op;
        // }

        // function clearD() {
        //     currentInput = '';
        //     p.value = '';
        //     firstNum = 0;
        //     currentOperator = 0;
        //     type.value = ''
        // }

        // function operatorD(op) {

        //     if (currentOperator === "" && currentInput !== "") {
        //         firstNum = parseFloat(currentInput);

        //     }
        //     else {
        //         stepstocal();

        //     }

        //     currentOperator = op;
        //     currentInput = '';
        //     p.value = firstNum;
        //     type.value = typeNum;
        // }

        // function stepstocal() {
        //     let num = parseFloat(currentInput);
        //     if (isNaN(num)) {
        //         return true;
        //     }
        //     if (currentOperator === '/' && num === 0) {
        //         p.value = 'Error';

        //         return false;
        //     }
        //     if (num) {
        //         switch (currentOperator) {
        //             case '+':
        //                 p.value = firstNum + num;
        //                 break;

        //             case '-':
        //                 p.value = firstNum - num;
        //                 break;

        //             case '*':
        //                 p.value = firstNum * num;
        //                 break;

        //             case '/':
        //                 if (p.value == 0) { p.value = 'Error'; return; }
        //                 p.value = firstNum / num;
        //                 break;

        //             default:
        //                 firstNum = num;
        //                 return true;
        //         }
        //     }
        // }

        // function cal() {
        //     let success = stepstocal();
        //     if (!success) {
        //         return;
        //     }
        //     currentOperator = '';
        // }


    </script>
</body>

</html>